body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    text-align: left;
}

.search-by-id, .restaurant-list {
    margin: 20px 0;
}

#restaurantIdInput {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#restaurantCountryInput {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
}

#restaurantDetails, #restaurantList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Rating system */
.star-rating {
    display: inline-block;
}

.star-rating input {
    display: none;
}


.star-rating label {
    color: #ffcc00;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}

.star-rating input:hover ~ label,
.star-rating input:checked ~ label,
.star-rating label:hover ~ label {
    color: #ddd;
}
